# source
lib
tests
package-lock.json
tslint.json
tsconfig.json
.prettierrc

# github
.husky
.github
CONTRIBUTING.md
renovate.json

# misc
.editorconfig
.commitlintrc.json
.releaserc
.eslintignore
.eslintrc.js
